.contacto {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	gap: 0 4%;
	align-items: flex-end;
	padding-block: 5rem;
}
.formulario {
	padding: var(--space-l-xl);
	background-image: linear-gradient(
		-45deg,
		var(--color-accent1-200),
		var(--color-accent1-100)
	);
	color: var(--color-accent1-900);
	border-radius: var(--border-radius);
}
.formulario .grupo {
	display: grid;
	gap: 0.2rem;
}
.formulario label {
	font-size: var(--fs--1);
}
.formulario input[type="text"] {
	margin: 0;
	padding: 0.3em 0.75em;
	border-radius: var(--border-radius);
}
.formulario textarea {
	margin: 0;
	padding: 0.3em 0.75em;
	border-radius: var(--border-radius);
	resize: none;
	height: 14rem;
}
.formulario .botonenviar {
	font-size: var(--fs-1);
	background-color: var(--color-accent1-300);
	border: none;
	padding: 0.5em 1.5em;
	border-radius: var(--border-radius);
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1em;
	color: var(--color-accent1-900);
	font-weight: 600;
	margin-left: auto;
	transition: all 300ms linear;
}
.formulario .botonenviar svg {
	height: 1.2em;
	fill: var(--color-accent1-900);
	transition: fill 300ms linear;
}
.formulario .botonenviar:hover {
	background-color: var(--color-accent2);
	color: var(--color-accent2-900);
	gap: 2em;
}
.formulario .botonenviar:hover svg {
	fill: var(--color-accent2-900);
}
.formulario h2 {
	font-size: var(--fs-4);
}
.formulario h2::after {
	display: block;
}
#contactform {
	display: grid;
	gap: 1em;
}

.formascontacto {
	--espaciado: 2em;
	display: grid;
	margin: 0;
	justify-content: center;
	text-align: center;
	z-index: 1;
}
.formascontacto * {
	margin: 0;
}
.formascontacto svg {
	height: var(--espaciado);
	fill: var(--color-accent1-200);
	transition: fill 300ms linear;
}
.formascontacto svg + p {
	font-size: var(--fs--1);
	font-weight: 700;
	margin-block: 0.4em;
}
.formascontacto .forma {
	padding: var(--espaciado);
	background-color: var(--color-bg-600);
	transition: background-color 300ms linear, color 300ms linear;
}
.formascontacto .forma + .forma {
	border-top: 2px solid var(--color-accent1);
	padding-top: var(--espaciado);
}
.formascontacto .forma:hover {
	background-color: var(--color-accent1);
	color: var(--color-accent1-900);
}
.formascontacto .forma:hover a {
	color: var(--color-accent1-900);
	transition: opacity 300ms linear, transform 300ms linear;
}
.formascontacto .forma:hover svg {
	fill: var(--color-accent1-900);
}
.formascontacto a:hover {
	opacity: 0.7;
	transform: scale(1.1);
}
.formascontacto a[title="rss"] {
	display: none;
}
.formascontacto .forma:first-child {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.formascontacto .forma:last-child {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.sociallinks {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75em;
	justify-content: center;
	margin-top: 0.75em;
}
.sociallinks svg {
	fill: var(--color-text);
	height: 1.5em;
	transition: fill 300ms linear, transform 300ms linear;
}

.ubicacion {
	position: relative;
}
.ubicacion .enlacemapa {
	display: block;
	height: 100vh;
	max-height: min(50rem, 75vh, 100vw);
	overflow: hidden;
	background-image: none;
}
.ubicacion .enlacemapa img {
	filter: grayscale(0);
	transition: filter 500ms linear;
}
.ubicacion .enlacemapa:hover img {
	filter: grayscale(0.5);
}

.conmapa .formulario {
	margin-bottom: 10em;
}
.conmapa + .ubicacion {
	margin-top: -10em;
}

.abrirmodal {
	cursor: pointer;
	transition: opacity 300ms linear;
}
.abrirmodal:hover {
	opacity: 0.7;
}
.abrirmodal a {
	color: var(--color-accent1-800);
}
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	height: 100vh;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	z-index: -1;
	display: grid;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in;
}
.modal.show {
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 1;
	visibility: visible;
	z-index: 10000;
}
.modal .infolegal {
	width: min(90%, 60rem);
	height: min(80%, 60rem);
	overflow-y: auto;
	margin: auto;
	background-color: var(--color-bg);
	padding: 3rem;
	isolation: isolate;
}
.close-lightbox {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	border: none;
}
.close-lightbox svg {
	fill: var(--color-accent1-900);
	height: 2rem;
	pointer-events: none;
}
body.noscroll {
	overflow: hidden;
}

@media (max-width: 60rem) {
	.contacto {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
	.conmapa .formulario {
		margin: 0;
	}
	.formascontacto {
		display: block;
	}
	.conmapa + .ubicacion {
		margin-top: 0;
	}
}
