#galeria {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
#galeria .imagen {
	width: 100%;
	height: 20vh;
	max-height: 200px;
	background-size: cover;
	margin: 0;
	object-fit: cover;
}
#galeria picture {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	font-size: 0.1px;
	overflow: hidden;
}
#galeria picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	margin: 0;
	transition: transform 300ms linear;
}
#galeria.clicable picture img {
	cursor: pointer;
}
#galeria.clicable picture:hover img {
	transform: scale(1.1);
}
#galeria > button {
	border: 0;
	padding: 0;
	background-color: transparent;
	margin: 0;
	flex-grow: 1;
}
body.noscroll {
	overflow: hidden;
}
.site-header.sticky.atras {
	z-index: 0;
}

/* Lightbox */

.lightbox {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	height: 100vh;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	z-index: -1;
	display: grid;
	grid-template-columns: min(8%, 4rem) 1fr min(8%, 4rem);
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in;
}
.lightbox.show {
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 1;
	visibility: visible;
	z-index: 10000;
}
.lightbox .ajustar {
	margin: 0;
	padding: 1rem;
	height: 100%;
	max-height: 100vh;
	grid-column: 2 / 3;
}
.lightbox button {
	border: none;
	background-color: transparent;
	padding: 20%;
	margin: 0;
	cursor: pointer;
}
.lightbox .close-lightbox {
	position: absolute;
	top: 0;
	right: 0;
	width: 5rem;
	height: 5rem;
	padding: 1rem;
}
.lightbox svg {
	pointer-events: none;
	fill: #ccc;
	width: 100%;
	height: 100%;
	transition: fill 300ms linear, transform 300ms linear;
}
.lightbox button:hover svg {
	fill: #fff;
	transform: scale(1.1);
}
