.flow {
	--margin-left: clamp(
		0px,
		calc((var(--width-wrapper) - var(--width-text)) / 8),
		5rem
	);
}
.flow > p,
.flow > ul,
.flow > ol {
	margin-inline-start: var(--margin-left);
}
.flow > p:first-of-type,
.flow > h2 + p {
	font-size: var(--fs-2);
	line-height: 1.3;
	font-style: italic;
	padding-bottom: 0.75em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	margin-left: 0;
}
ul.list {
	width: fit-content;
}
.full-width {
	max-inline-size: 100%;
}
.contenido {
	position: relative;
	isolation: isolate;
}
.contenido .icono {
	position: absolute;
	left: -10%;
	top: -2%;
	opacity: 0.05;
	z-index: -1;
}
.contenido .icono svg {
	inline-size: min(50vw, 40rem);
	block-size: auto;
	fill: var(--color-text);
	transform: rotate(-10deg);
}
.flow {
	margin-block-end: var(--space-xl-2xl);
}
.flow > ul {
	width: fit-content;
	list-style: none;
	padding: 0;
}
.flow > ul li {
	position: relative;
	padding-left: 2em;
}
.flow > ul li + li {
	margin-top: 1em;
}
.flow > ul li::before {
	content: "";
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	background-color: var(--color-accent1);
	height: 1em;
	width: 1em;
	clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
	z-index: -1;
}
.flow .imagen {
	--decalaje: 6ch;
	max-inline-size: calc(var(--width-text) + var(--decalaje));
	margin-inline-start: max(
		calc(var(--margin-left) - (var(--decalaje) / 2)),
		0px
	);
}
