---
title: "Zona privada"
imagencabecera: privado.png
permalink: /zona-privada/
eleventyExcludeFromCollections: true
css: []
folder: ""
---

<ul class="zonaprivada">
  {% for item in collections.privado %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ul>