---
title: "Zona privada"
imagencabecera: piedras.jpg
permalink: /zona-privada/
eleventyExcludeFromCollections: true
index: true
---

<ul class="zonaprivada">
  {% for item in collections.privado %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ul>