---
title: Iniciar sesión
layout: page.njk
css: ["login.css"]
js: ["login.js"]
permalink: /login/
imagencabecera: mapa-sitio.jpg
---
<div class="iniciosesion">
  <h2>Necesitas iniciar sesión para acceder a este contenido</h2>
  <p class="instructions">Por favor, introoduce tu contraseña a continuación:</p>
  <form id="staticrypt-form" action="#" method="post">
    <input id="staticrypt-password" type="password" name="password" placeholder="Introduce la contraseña" autofocus/>
    <input type="submit" value="Entrar"/>
  </form>
</div>