---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /admin/
Disallow: /cdn-cgi/

Host: https://{{ client.domain }}/

Sitemap: https://{{ client.domain }}/sitemap.xml
