{% set activePage = page.url | url %}
{% set listado = listado | excludeByURL(activePage) %}
{% set width = "820" %}

<div class="wrapper">
  <div class="imgslider">
    {% for item in listado %}
      {% set link = item.url | url %}
      <input type="radio" name="artslid" id="artslid{{loop.index}}" class="visually-hidden" {% if loop.index == 1 %}checked{% endif %}>
      {% set imagen = [
        link, 'img/', item.data.imagencabecera | thumbname(width)
      ] | join %}
      <picture class="imagen">
        <source srcset="{{ imagen }}.avif" type="image/avif">
        <source srcset="{{ imagen }}.webp" type="image/webp">
        <img src="{{ imagen }}.jpg" alt="{{ item.data.title }} " loading="lazy"/>
      </picture>
      <div class="textdata">
        <label for="artslid{{loop.index}}">{{ item.data.title }}</label>
        <p class="intro">{{ item.content | excerpt(200) }}</p>
        <p class="leermas">
          <a class="botonenlace" href="{{ item.url | url }}">Seguir leyendo</a>
        </p>
      </div>
    {% endfor %}
  </div>
</div>