---
layout: page.njk
css: ["privada.css"]
---

{{ content | safe }}

<div class="listadoficheros flow">
  {% set ficheros = folder | listaficheros %}
  {% if ficheros | length %}
    <h3>Documentación:</h3>
    <ul>
      {% for fichero in ficheros %}
        <li>
          <a href="/assets/docs/{{folder}}/{{fichero}}" target="_blank">{{fichero}}</a>
        {% endfor %}
    </ul>
  {% endif %}
</div>