---
layout: page.njk
css: ["privada.css", "mi-lightgallery.css", "lightgallery-bundle.min.css", "galeria-privada.css"]
js: ["lightgallery.umd.min.js", "showdown.min.js", "zona-privada-1.js"]
---
{% if index is not defined %}

  <div id="texto-privado" class="flow"></div>

  <div class="listadoficheros">
    <h3>Imagenes:</h3>
    <div id="lightgallery"></div>
  </div>

  <div class="listadoficheros">
    <h3>Documentos:</h3>
    <div id="archivos-privado" class="flow"></div>
  </div>

  <div class="logout">
    <a id="logout" href="/zona-privada/">Cerrar sesión</a>
  </div>

{% endif %}

{{ content | safe }}