<div class="faqs">
  {% for item in listado %}
    <div class="faq">
      <input type="checkbox" name="faq{{loop.index}}" id="faq{{loop.index}}" class="visually-hidden elegirfaq" {% if loop.index == 1 %}{% endif %}>
      <label for="faq{{loop.index}}">
        <span>{{ item.data.title }}</span>{% include "svg/chevron-down.svg" %}</label>
      <div class="texto">
        <div class="contenidotexto">
          {{ item.content | safe }}
        </div>
      </div>
    </div>
  {% endfor %}
  {% if linkinscripcion %}
    <div class="faq">
      <a class="linkfaq" href="{{linkinscripcion}}" {% if "https://" in linkinscripcion %}target="_blank"{% endif%}>Inscribirme en {{title}}</a>
    </div>
  {% endif %}
</div>